/* greeting section */
.greeting-section {
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 110px;
    border: 0.1rem solid #ccc; /* remove */
    background-color: #fff;
    h1{
        font-family: "Story Script", cursive;
        font-size: 250%;
        margin-bottom: 10px;
    }
}
.greeting-text{
  text-align: left;
  font-family: "Story Script", cursive;
  p{
    font-size: 125%;
    letter-spacing: 2px;
    color: #888;
  };
}
.notifications{
  margin-left: auto;
  display: flex;
  margin-right: 1.5rem;
  img{
    width: 30px;
  }
}
.study-button{
    background-color: #5C3E94;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.8rem;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 130%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    img{
      width: 25px;
    }
}
/* box and container for data */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin: 1rem auto;         
    padding: 0 1rem;            
    max-width: 1400px;          
    box-sizing: border-box;
}
.box {
    position: relative;
    width: 100%;            
    aspect-ratio: 3 / 1.7;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;     
    flex-direction: column;
    align-items: flex-start;
}
.box img {
    position: relative;          
    top: -8px;                   
    left: -8px;                
    width: 50px;
    height: 50px;
    border-radius: 25%;        
    border: 2px solid white;
    padding: 5px;
    margin-bottom: 0.1rem;
}
.score {
    display: flex;
    align-items: baseline;  
    gap: 0.5rem;            
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.3rem;
}
.unit {
    color: #888;
    font-size: 1rem;
    position: relative;
    top: -8px;
}
.desc{
  font-family:"Story Script", cursive;
  letter-spacing: 1px;
  font-size: 130%;
  position: absolute;
  bottom: 20px;
  color: #888;
}
#study-score,
#current-streak,
#studied-today,
#weekly-goal-progress {
    font-size: 2.7rem;
    font-weight: bold;
    color: #555;               
}
.box:nth-child(1) {
  img{
    background-color: #E6E0F3
  };
}
.box:nth-child(2) {
  img{
    background-color: #FDE6E6
  };
}
.box:nth-child(3) {
  img{
    background-color: #E6F0FD
  };
}
.box:nth-child(4) {
  img{
    background-color: #DFF9E9
  };
} 

/* today schedule */
.schedule-section {
  width: 100%;           
  max-width: 1370px;      
  height: 400px;
  margin: 1rem auto; 
  box-sizing: border-box; 
  display: flex;
  gap: 2.5%;
  margin-top: 2.5rem;
}
.today-schedule {
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 1rem;
  width: 62.5%;
  height: 100%;
  h1{
    font-family: "Story Script", cursive;
    font-size: 200%;
    padding: 1rem;
    letter-spacing: 1px;
  }
  .study-button{
    position: absolute;
    top:15px;
    right: 15px;
    font-size: 100%;
    img{
      width: 20px;
    }
  }
}
.upcoming-exams {
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 1rem;
  width: 35%;
  height: 100%;
  float: right;
  h1{
    font-family: "Story Script", cursive;
    font-size: 200%;
    padding: 1rem;
    letter-spacing: 1px;
  }
}
.header-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    margin-bottom: 2rem;          
}
#number-of-exams {
    font-size: 2.5rem;
    font-weight: bold;
    color: #555; 
    padding: 1rem;
}
.add-exam{
    background-color: #5C3E94;
    width: 90%;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0.8rem;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 130%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin:0 auto;
    position: absolute;
    bottom: 1rem; 
    left: 50%;
    transform: translateX(-50%);
    img{
      width: 25px;
    }
}
